@use "../utilities/variables" as*;
@use "../utilities/mixin" as* ;


/*home - mobile*/
@media (max-width: 576px){
    .hero{
        @include hero(70vh, 150px,40px,30px, 30px,url("../media/fondo-hero.jpg"));

        h1{
            @include titulos(38px,$color-terciario);
        }
        p{
            @include textos(18px, $color-terciario);
        }
    }
    .formulario {
    @include seccion-formulario (repeat(1, 1fr), 20px);
    }
    .bloque-uno{
        @include bloque-uno (30px,5px,);
        flex-direction: column;

        .seccion-uno{
            text-align: center;
        }
    }
    .bloque-dos{
        @include bloque-dos (20px);
        .valores{
            @include valores(repeat(1,1fr), 20px, 10px);
            li{
                img {
                    height: 50px;
                    margin-bottom: 20px;
                }
            }
        }    
    }
    .bloque-tres{
        @include bloque-tres (20px, 20px, 20px, 10px,repeat(1,1fr));
        height: auto;
    
        .seccion-tres {
            text-align: center;
        }
       .galeria{
            @include galeria (repeat(2, 1fr), repeat(2, 1fr), 15px, 450px);
            width: 100%;
            padding: 20px;

            img{
                @include imagen-galeria (100%, 100%, 20px);
                display: block;

            }
        }
    }
    .bloque-cuatro{
            @include bloque-cuatro (repeat(1, 1fr), 10px, 40px);
        div{
            padding: 10px;
        }
    }
    .bloque-cinco{
       @include bloque-cinco (repeat(3,1fr));

        img{
        @include imagen-bloque (80px);
        }
    }
    }
    .bloque-seis{
        padding-left: 20px;
        padding-right: 20px;
        p{
            font-size: 20px;
        }
    }


/*Productos - Mobile*/
@media (max-width: 576px){

    .hero-productos{
        @include hero(70vh, 150px, 0px, 30px, 30px, url("../media/hero-producto-2s.jpg"));
        
        h1{
            @include h1-hero(38px);
        }
        p{
            @include textos(18px,$color-terciario);
        }
    }
    .bloque-productos{
        @include bloque-productos(0px, 0px, 0px);
        flex-direction: column;
        width: 100%;
        img{
            width: 100%;
        }

        &:nth-of-type(even) {
            flex-direction: column-reverse;
        }
    }
}

/*Contacto - Mobile*/
@media (max-width: 576px){

    .hero-contacto{
        @include hero(70vh, 150px, 0px, 20px, 20px, url("../media/hero-contacto-1.jpg"));
        h1{
            @include h1-hero(36px);
        }
        p{
            @include textos (18px, $color-terciario);
            text-shadow: 1px 1px 10px rgb(41, 35, 35);
        }
    }
    .contacto{
        @include seccion-contacto(150px, 20px, 20px, center);

        .b1-contacto{
            @include bloque-uno-contacto(10px, 10px, 20px, 80px, 10px);
            flex-direction: column;
        }
    }
}


/*Footer mobile*/
@media (max-width: 576px){
    footer{
        .ft{
            display: flex;
            flex-direction: column;
            text-align: center;
            row-gap: 40px;

            .col-uno{
                @include columna-uno(40px);
                padding-left: 40px;
            }

            .col-dos{
                h2{
                    @include titulos (24px, $color-terciario);
                    text-align: center;
                }
                ul{
                    text-align: center;
                }
            } 
            .col-cuatro{
                @include columna-cuatro(0px);
                padding-bottom: 20px;

            }
        }
    }
}


