//Paleta cromática//
$color-principal:#3f220f;
$color-secundario:#ffb300;
$color-terciario:#ffffff;

//Tipografías//
$fuente-titulos:"rubik", sans-serif;
$fuentes-textos: "nitti-typewriter-normal", sans-serif;
