@use "../utilities/variables" as*;
@use "../utilities/mixin" as *;

.hero-contacto{
    @include hero(100vh, 0px, 0px, 220px, 220px, url("../media/hero-contacto-1.jpg"));

    h1{
        @include h1-hero(64px);
    }

    p{
        @include textos (24px, $color-terciario);
    }
}

.contacto{
    @include seccion-contacto(150px, 50px, 50px, center);

    .b1-contacto{
        @include bloque-uno-contacto(150px, 150px, 80px, 150px, 40px);

        ul{
            flex: 0 1 40%;
            background-color: $color-terciario;
            border-radius: 20px;
            padding: 30px;
            align-content: center;

            h2{
            @include titulos (28px, $color-principal);
            text-align: left;
            }

            li{
               @include lista-contacto(18px);
                img{
                    width: 7%;
                    margin-right: 3%;
                    }
            }
        }
       .formulario-contacto{
            flex: 0 1 60%;
            
            .form-label{
               @include titulos (28px, $color-terciario);
            }

            .form-control{
                @include textos (16px, $color-principal);
            }

            .btn-primary{
             @include boton (15px 40px 15px 40px);
            }
        }
    }

    h2{
        @include titulos (36px, $color-terciario);
        text-align: center;
    }
    .boton {
        text-align: center;
        button{
            @include boton (15px 40px 15px 40px);
        }
    }
}
